# =============================================================
#  Copia este archivo a .env y ajusta los valores
# =============================================================
APP_ENV=develop

# -- Odoo --
# develop  → ODOO_EXTRA_ARGS=--dev=all
# production → ODOO_EXTRA_ARGS=   (vacío)
ODOO_PORT=8069
ODOO_EXTRA_ARGS=--dev=all

# -- Base de datos --
# Local (contenedor Docker): DB_HOST=db
# Externa (servidor remoto): DB_HOST=IP_O_HOSTNAME
DB_HOST=db
DB_PORT=5432
DB_USER=odoo
DB_PASSWORD=CAMBIA_ESTO
